{
    "$schema": "https://raw.githubusercontent.com/crossbario/crossbar/master/crossbar.json",
    "version": 2,
    "controller": {
        "id": "lojack1",
        "enable_docker": false,
        "fabric": {
        }
    },
    "workers": [
        {
            "id": "rtr1",
            "type": "router",
            "realms": [
{% for realm_name in realm_names %}
                {
                    "name": "{{ realm_name }}",
                    "roles": [
                        {
                            "name": "anonymous",
                            "permissions": [
                                {
                                    "uri": "",
                                    "match": "prefix",
                                    "allow": {
                                        "call": true,
                                        "register": true,
                                        "publish": true,
                                        "subscribe": true
                                    },
                                    "disclose": {
                                        "caller": true,
                                        "publisher": true
                                    },
                                    "cache": true
                                }
                            ]
                        }
                    ]
                }{% if not loop.last %},{% endif %}
{% endfor %}
            ],
            "transports": [
                {
                    "type": "rawsocket",
                    "endpoint": {
                        "type": "unix",
                        "path": "rtr1.sock"
                    },
                    "options": {
                        "max_message_size": 1048576
                    },
                    "serializers": ["cbor"],
                    "auth": {
                        "anonymous": {
                            "type": "static",
                            "role": "anonymous"
                        }
                    }
                }
            ]
        },
{% for proxy_no in range(parallel_proxy) %}
        {
            "id": "{{ 'pxy{}'.format(proxy_no) }}",
            "type": "proxy",
            "options": {
            },
            "transports": [
                {
                    "type": "web",
                    "endpoint": {
                        "type": "tcp",
                        "port": 80,
                        "shared": true,
                        "backlog": 1024
                    },
                    "paths": {
                        "/": {
                            "type": "redirect",
                            "url": "https://lojack1.crossbario.com"
                        }
                    }
                },
                {
                    "type": "universal",
                    "endpoint": {
                        "type": "tcp",
                        "port": 443,
                        "shared": true,
                        "backlog": 1024,
                        "tls": {
                            "certificate": "lojack1.crossbario.com.crt",
                            "key": "lojack1.crossbario.com.key",
                            "dhparam": "dhparam.pem",
                            "chain_certificates": [
                                "lojack1.crossbario.com.issuer.crt"
                            ],
                            "ciphers": "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-RSA-AES128-SHA256"
                        }
                    },
                    "rawsocket": {
                        "options": {
                            "max_message_size": 1048576
                        },
                        "serializers": ["cbor"],
                        "backends": [
                            {
                                "type": "rawsocket",
                                "endpoint": {
                                    "type": "unix",
                                    "path": "rtr1.sock"
                                },
                                "url": "ws://localhost",
                                "serializer": "cbor"
                            }
                        ],
                        "auth": {
                            "anonymous": {
                                "type": "static",
                                "role": "anonymous"
                            }
                        }    
                    },
                    "websocket": {
                        "ws": {
                            "type": "websocket-proxy",
                            "serializers": [
                                "cbor", "msgpack", "json"
                            ],
                            "backends": [
                                {
                                    "type": "rawsocket",
                                    "endpoint": {
                                        "type": "unix",
                                        "path": "rtr1.sock"
                                    },
                                    "url": "ws://localhost",
                                    "serializer": "cbor"
                                }
                            ],
                            "options": {
                                "allowed_origins": ["*"],
                                "allow_null_origin": true,
                                "enable_webstatus": true,
                                "max_frame_size": 1048576,
                                "max_message_size": 1048576,
                                "auto_fragment_size": 65536,
                                "fail_by_drop": true,
                                "open_handshake_timeout": 2500,
                                "close_handshake_timeout": 1000,
                                "auto_ping_interval": 10000,
                                "auto_ping_timeout": 5000,
                                "auto_ping_size": 4,
                                "compression": {
                                    "deflate": {
                                        "request_no_context_takeover": false,
                                        "request_max_window_bits": 13,
                                        "no_context_takeover": false,
                                        "max_window_bits": 13,
                                        "memory_level": 5
                                    }
                                }
                            },
                            "auth": {
                                "anonymous": {
                                    "type": "static",
                                    "role": "anonymous"
                                }
                            }
                        }
                    },
                    "web": {
                        "paths": {
                            "/": {
                                "type": "static",
                                "directory": "../web",
                                "options": {
                                    "enable_directory_listing": true
                                }
                            },
                            "autobahn": {
                                "type": "archive",
                                "archive": "autobahn-v20.2.1.zip",
                                "origin": "https://github.com/crossbario/autobahn-js-browser/archive/v20.2.1.zip",
                                "object_prefix": "autobahn-js-browser-20.2.1",
                                "default_object": "autobahn.min.js",
                                "download": true,
                                "cache": true,
                                "hashes": [
                                   "b69cd17ac043cceceea8ed589a09a2555b5c39e32c2fea18ecc26dc5baf67de8"
                                ],
                                "mime_types": {
                                   ".min.js": "text/javascript",
                                   ".jgz": "text/javascript"
                                }
                            },
                            "info": {
                                "type": "nodeinfo"
                            }
                        }
                    }
                }
            ]
        }{% if not loop.last %},{% endif %}
{% endfor %}
    ]
}
